<nav>
  <div class="site-title">
    <a href="/"><h1>Rytone</h1></a>
    <a>Learning site</a>
  </div>
  <div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </div>
</nav>
