<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog | <%= title%></title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Rytone</h1></a>
        <a>Learning site</a>
      </div>
      <div>
        <ul>
          <li><a href="/">Blogs</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blogs/create">New Blog</a></li>
        </ul>
      </div>
    </nav>
    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis exercitationem aliquid alias dignissimos dolorem
        eius sequi recusandae nemo maxime eveniet tenetur veniam voluptatum incidunt, perspiciatis officiis dolores
        voluptas magnam a?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis exercitationem aliquid alias dignissimos dolorem
        eius sequi recusandae nemo maxime eveniet tenetur veniam voluptatum incidunt, perspiciatis officiis dolores
        voluptas magnam a?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis exercitationem aliquid alias dignissimos dolorem
        eius sequi recusandae nemo maxime eveniet tenetur veniam voluptatum incidunt, perspiciatis officiis dolores
        voluptas magnam a?
      </p>
    </div>
  </body>
</html>
