<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis exercitationem aliquid alias dignissimos dolorem
        eius sequi recusandae nemo maxime eveniet tenetur veniam voluptatum incidunt, perspiciatis officiis dolores
        voluptas magnam a?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis exercitationem aliquid alias dignissimos dolorem
        eius sequi recusandae nemo maxime eveniet tenetur veniam voluptatum incidunt, perspiciatis officiis dolores
        voluptas magnam a?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis exercitationem aliquid alias dignissimos dolorem
        eius sequi recusandae nemo maxime eveniet tenetur veniam voluptatum incidunt, perspiciatis officiis dolores
        voluptas magnam a?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
